TFLOWLocation=''

#export PYTHONPATH='$TFLOWLocation:$PYTHONPATH'

alias tflow='$TFLOWLocation/tflow.sh'
alias tflow_count='count_sequences.sh'
alias tflow_n50='$TFLOWLocation/fasta_manip.sh N50'
alias tflow_verify='$TFLOWLocation/fasta_manip.sh verify'
alias tflow_ip_n50='$TFLOWLocation/fasta_manip.sh IP_N50'
alias tflow_track='$TFLOWLocation/tflow.sh track'
alias tflow_analyze='$TFLOWLocation/tflow.sh analyze'
alias tflow_run='$TFLOWLocation/tflow.sh run'
alias tflow_read='$TFLOWLocation/tflow.sh read'
alias tflow_test='$TFLOWLocation/tflow.sh test'
